@charset "utf-8";

html {
  font-size: $font-size-root;
  height: 100%;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-base;
  color: $color-default;
  background-color: $bgcolor-default;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

img {
  vertical-align: bottom;
}

a {
  color: $color-default;
  text-decoration: none;
}

button {
  appearance: none;
  outline: none;
}


/* SP */
@media screen and (max-width: 667px) {
  html {
    font-size: 10px;
  }
}