@charset "utf-8";

.bg {
  background: url('../img/bg-light.png') center / auto 100% no-repeat fixed,
    url('../img/bg-gu.png') center / auto 780px no-repeat fixed;
  min-height: 100%;
  position: relative;
}