@charset "utf-8";

.box {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  background-color: rgba(0, 255, 255, .1);
  &__container {
    padding: 26px;
  }
}