@charset "utf-8";

.frame {
  height: 489px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  &--s {
    width: 870px;
    transition: all 1s ease;
    .frame__bone {
      width: 494px;
    }
    .frame__container {
      width: 400px;
    }
  }
  &--l {
    width: 1160px;
    transition: all 1s ease;
    .frame__bone {
      width: 784px;
    }
    .frame__container {
      width: 560px;
    }
  }
  &::before {
    display: block;
    content: "";
    background: url('../img/frame-left.png') no-repeat;
    width: 253px;
    height: 489px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -11px;
    margin: auto;
  }
  &::after {
    display: block;
    content: "";
    background: url('../img/frame-right.png') no-repeat;
    width: 231px;
    height: 489px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    margin: auto;
  }
  &__back {
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    text-align: center;
    color: $color-primary;
    font-size: $font-size-xs;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
    &::after {
      @mixin sprite $back;
      display: block;
      content: "";
      margin: 12px auto 0;
    }
  }
  &__next {
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    text-align: center;
    color: $color-primary;
    font-size: $font-size-xs;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
    &::before {
      @mixin sprite $next;
      display: block;
      content: "";
      margin: 0 auto 9px;
    }
  }
  &__bone {
    height: 489px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__container {
    height: 489px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__logo {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
  &__headline {
    position: absolute;
    top: 61px;
    width: 100%;
    line-height: 1;
    text-align: center;
  }
  &__list {
    position: absolute;
    top: 125px;
    width: 100%;
  }
  &__box {
    position: absolute;
    top: 58px;
    width: 100%;
  }
  &__button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__slide {
    width: 470px;
    margin: 0 auto;
  }
}