@charset "utf-8";

.list {
  &__item {
    background-color: rgba(0, 255, 255, .4);
    width: 560px;
    height: 120px;
    margin: 20px auto;
    font−size: $font-size-l;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* TB */
@media only screen and (min-width: 668px) and (max-width: 959px) {
  .list {
    &__item {
      width: 510px;
    }
  }
}

/* SP */
@media screen and (max-width: 667px) {
  .list {
    &__item {
      width: 280px;
      height: 60px;
      margin: 10px auto;
    }
  }
}